# Este archivo muestra las variables principales cuando se ejecuta todo desde la raiz.
MONGO_URI=mongodb://127.0.0.1:27017/polibarber
JWT_SECRET=polibarber_super_secret_cambiar_en_produccion
JWT_EXPIRES_IN=8h
PORT=5000
CLIENT_URL=http://localhost:5173
